@charset "UTF-8";
/* Author: Rylan Marriott
Date: 03-02-2023 */

body {
    background-color: cadetblue;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.directory {
    border: 5px; 
    background-color: aqua; 
    text-align: center;
}
h1 {
    color:red;
}
.block {
    border: 5px solid orange; 
    width: 50%;
}
p {
    text-align: center;
}
#bigbold {
    font-weight: bold;
    font-size: 200%;
}